@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion {
    @apply tw-bg-[#eee] tw-text-[#444] tw-cursor-pointer tw-p-[18px] tw-w-[100%] tw-border-none tw-text-left tw-outline-none tw-text-xl
    /* background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; */
  }

  .projects .active, .accordion:hover {
    @apply tw-bg-[#ccc]
    /* background-color: #ccc; */
  }