@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion {
    @apply tw-bg-[#eee] tw-text-[#444] tw-cursor-pointer tw-p-[18px] tw-w-[100%] tw-border-none tw-text-left tw-outline-none tw-text-xl
    /* background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s; */
  }

  .projects .active, .accordion:hover {
    @apply tw-bg-[#ccc]
    /* background-color: #ccc; */
  }

  .icard {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 10px auto;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content at the top and bottom */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
  }
  
  h3,
  .card-description,
  .extra-info {
    margin: 0;
    align-self: center;
  }
  
  .card-description {
    text-align: center; /* Align description to the top */
    color: #FFD700; /* Set different color for description text */
  }
  
  .extra-info {
    align-self: top; /* Align other content in the middle */
    font-size: 14px;
  }

  .popup-container {
    position: fixed;
    top: 70%;
    right: 0;
    transform: translateX(100%);
    z-index: 999;
    transition: transform 0.5s ease-in-out;
  }
  
  .popup-container.active {
    transform: translateX(0);
  }

  .popup {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    opacity: 0.7;
    transition: transform 0.5s ease-in-out;
  }

  .popup-container:hover .popup {
    opacity: 1;
  }

  .popup-container.exiting {
    transform: translateX(100%);
  }

  .popup-container.exiting {
    transform: translateX(100%);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    background: none;
    border: none;
    padding: 0;
  }

  @media (max-width: 767px) {
    .popup {
      padding: 10px; /* Adjust padding for smaller screens */
      max-width: 300px; /* Set a maximum width for the popup */
      width: 100%; /* Make sure it takes the full width of the screen */
    }
  }